

*{
    margin:0;
    padding: 0;
}

html, body{
      
    height: 100%;
    
}


nav {
    background-color: black;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 100;
    width: 100%;
}

nav div {
    width:205px;
    /*height: 25;*/
    left: 5px;
    top: 7px;
    padding-right:10px;
    position: relative;
    float: left;
/*    line-height: 40px;*/
}

nav div img {
    width:200px;
    height: 25px;
}

nav ul{
    
    float:left;
/*    padding-bottom: 1em !important;*/

    
}

nav ul li {
    list-style: none;
    float:left;
    width: 150px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    line-height: 40px;
    text-align: center;
    position: relative;

    
}
nav ul li:hover{
    background-color: #b3042c;

}

nav ul li a {
    text-decoration: none;
    display: block;
    color: ivory;
    font-size: 20px;
    font-family:'Roboto', sans-serif;

    
}

nav ul li ul {
    display: none;
    position:absolute;
    
}

nav ul li:hover ul{
    display: block;
}

.login_container{
    
    position:relative;
/*    margin-left:300px important;*/
    left:315px;
    top:4px;
    width: 150px;
    height: 30px;
}

/*
.login_button{
    display: inline-block;
    margin-top:auto;
    margin-bottom: auto;

       
}

.sign_in_button{
    display: inline-block;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:15px;
*/
    
    
    



.logo{
    
    position: relative;
    top: 230px;
    
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow;*/


}

.obrazek{
    display: block;
    position: absolute;
    height: 180px;
    width: 350px;
    top: 230px;
/*    left:450px;*/
    left:50%;
    transform: translateX(-50%);
    

}

.arrow_bottom_box{
    position: absolute;
    width: 40px;
    height: 40px;
    border:3px solid blue;
    border-radius: 50%;
    left:50%;
    transform: translateX(-50%);
    bottom:15px;
/*    text-align: center;*/
    display: block;

}
.arrow_bottom {
    /*width:10px;*/
    /*height: 10px;*/
    width: 100%;
    font-weight: bold;
    font-size: 40px !important;
    text-align: center;
    color:red;
    margin: 0;
    text-align: center;

}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

.subsection{
    height: 50%;
    background-color: black;
    text-align: center;
    font-family: "Roboto";
    font-size: 25px;
    color: ivory;
}

.sectionOne {
    
    background-image: url("../pictures/walpaper_1.jpg");
    
}

.sectionTwo {
    background-image: url("../pictures/walpaper_2.jpg");
        
}

#slider{
    position:relative;
    width:100%;
    height: 100%;
    
    
}


.slide {
    position: relative;
    height: 330px;
    top:1px;
    width:100%;
    background-color: ivory;
    float:left;
    display:none;
}

.slide.active {
    display: block;
}

.book_desc{
    display: block;
    left:20px;
    font-family: "Roboto";
    font-size: 13px;
    color: darkred;
}


.book_picture {
    position: absolute;
    display: block;
    height: 100px;
    width: auto;
    left: 20px;
    
    
/*    float: left;*/
/*
    left:10px;
    top:20px;
*/
    
/*
    margin-top: auto;
    margin-bottom: auto;
*/
    
}

#left_arrow {
    position:absolute;
    font-size: 40px;
    top:50%;
    left:20px;
    display: block;
    cursor: pointer;
    
}

#right_arrow {
    position:absolute;
    font-size: 40px;
    top:50%;
    right:20px;
    cursor: pointer;
    display: block;
}
.media_container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 300px;


}


.media_facebook {
    float:right;
    padding: 0;
    
}

.media_youtube {
    float:right;
    padding: 0;
    
}

.media_twitter {
    float:right;
    padding: 0;
        
}

/*############################################## authors_list*/

.authors_list_background {
    
    height: 100%;
    background-image: url("../pictures/walpaper_1.jpg");
    background-size: cover;
    
}


.authors_container {
    background-color: aqua;
    top:450px;

    
}
.single_author_name {
    position: relative;   
    height: 40px !important;
    display: inline-block;
/*    font-size: 35px;    */
}

.single_author_books {
    height: 40px !important;
    display: inline-block;
    
}

.single_author_date {
    height: 40px !important;
    display: inline-block;
    
}









